
.DS_Store
C/.idea/C.iml
C/.idea/misc.xml
C/.idea/modules.xml
C/.idea/workspace.xml
C/cmake-build-debug/.cmake/api/v1/query/cache-v2
C/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
C/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
C/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
C/cmake-build-debug/.cmake/api/v1/reply/cache-v2-7c0d26f14e57019b8d6d.json
C/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6067d31b8ceae521e4c1.json
C/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-eb3ea2b24f5d83e1bdd6.json
C/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
C/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-15T19-14-31-0971.json
C/cmake-build-debug/.cmake/api/v1/reply/target-C-Debug-ebe1c9260e04816ed75c.json
C/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-fdd2439d1945cee08429.json
C/cmake-build-debug/build.ninja
C/cmake-build-debug/cmake_install.cmake
C/cmake-build-debug/CMakeCache.txt
C/cmake-build-debug/CMakeFiles/3.24.2/CMakeCCompiler.cmake
C/cmake-build-debug/CMakeFiles/3.24.2/CMakeDetermineCompilerABI_C.bin
C/cmake-build-debug/CMakeFiles/3.24.2/CMakeSystem.cmake
C/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.c
C/cmake-build-debug/CMakeFiles/3.24.2/CompilerIdC/CMakeCCompilerId.o
C/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
C/cmake-build-debug/CMakeFiles/clion-environment.txt
C/cmake-build-debug/CMakeFiles/cmake.check_cache
C/cmake-build-debug/CMakeFiles/CMakeError.log
C/cmake-build-debug/CMakeFiles/CMakeOutput.log
C/cmake-build-debug/CMakeFiles/rules.ninja
C/cmake-build-debug/CMakeFiles/TargetDirectories.txt
C/cmake-build-debug/Testing/Temporary/LastTest.log
C/CMakeLists.txt
C/library.c
C/library.h
C/.idea/vcs.xml
Python/.idea/inspectionProfiles/profiles_settings.xml
Python/.idea/misc.xml
Python/.idea/modules.xml
Python/.idea/Python.iml
Python/.idea/vcs.xml
C/cmake-build-debug/.cmake/api/v1/reply/target-C-Debug-e0a6e29eb3d76052d491.json
C/cmake-build-debug/.cmake/api/v1/reply/index-2023-03-15T19-20-10-0707.json
C/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2dcbe66b7f0951718cd4.json
C/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-8ff73ba021d3aba97f84.json
